:root {
  /* Add your CSS variables here */
  --background: #fff;
  --font-color: #494949;

  --harvey-black: #131111;
  --harvey-white: #e0e0e0;
  --harvey-red: #ff2323;
  --harvey-green: #005f20;
  --harvey-blue: #070bce;

  --heading-font-size: 40px;
}

@font-face {
  font-family: 'Lexend';
  font-weight: 400;
  src: url('static/fonts/lexend/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 700;
  src: url('static/fonts/lexend/Lexend-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('static/fonts/nanum-square/NanumSquareR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url('static/fonts/nanum-square/NanumSquareB.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-grey {
    @apply py-1 px-1 bg-white text-traw-grey-100  hover:bg-black/[.04] focus:outline-none;
  }
}
@layer base {
  html {
    font-family: 'Lexend', 'NanumSquare', 'sans-serif', system-ui, sans-serif;
  }
}

::-webkit-scrollbar {
  display: none;
}
